.datepicker {
  position: relative;
  width: 100%;
  .calendar {
    position: fixed;
    width: 230px;
    padding: 6px 0;
    z-index: 9999;
    color: #000000;
    background: #f4f9fe;
    box-shadow: 2px 3px 10px -2px #E0E7FF;
    border: 1px solid #E0E7FF;
  }
  .calendar tr {
    background: #f4f9fe;
    border-bottom: none;
  }
  .calendar td {
    text-align: center;
    height: unset !important;
    border-right: none;
    border-bottom: none;
  }
  
  .calendar thead td {
    padding: 10px 0;
  }
  .calendar__month {
    color: #000000;
  }
  .calendar__day {
    font-size: 13px;
    cursor: pointer;
    padding: 11px 12px 9px;
  }
  
  .calendar__day:hover {
    background: rgba(192, 232, 250, 0.5);
  }
  
  .calendar__disabledDay {
    opacity: 0.3;
  }
  
  .calendar__dayFromOtherMonth {
    color: #ddd;
  }
  
  .calendar__dayInRange {
    background: rgba(192, 232, 250, 0.5);
  }
  
  .calendar__activeDay {
    background:rgb(192, 232, 250);
  }
  
  .calendar__prevMonth,
  .calendar__nextMonth {
    cursor: pointer;
    color: #000000;
  }
  
  .calendar__prevMonth:hover,
  .calendar__nextMonth:hover {
    background: rgba(192, 232, 250, 0.5);
    color: #000;
  }
  
  .calendar__prevMonth:before {
    content: '<';
  }
  
  .calendar__nextMonth:before {
    content: '>';
  }
  
  .calendar__nameofdays td {
    font-size: 11px;
    background: #b9d7f4;
  }
  
  .calendar__nameofdays td {
    padding: 7px 12px 6px;
  }
  
  .datepicker__input {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
    cursor: pointer;
    text-shadow: 0 0 0 #666;
    outline: none;
    font-family: Rubik;
    margin-bottom: 0.5rem;
    height: 40px;
    padding: 0.5rem 1rem;
    font-size: 15px;
    line-height: 1.5;
    color: #032A40;
    border-radius: 5px;
    width: 100%;
    background: #F9FAFF;
    border: 1px solid #E0E7FF;
    background-clip: padding-box;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  
}

