.drop-checkbox {
  width: 100%;
  position: relative;
  .idle {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    min-height: 40px;
    padding: 0.5rem;
    font-size: 18px;
    line-height: 1.5;
    color: #032A40;
    border-radius: 5px;
    width: 100%;
    background: #F9FAFF;
    border: 1px solid #E0E7FF;
    background-clip: padding-box;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    .arrow_icon {
      color: #B0BAC9;
    }
    .selected-items {
      .item {
        color: #0E3F66;
        font-weight: 500;
        background: #2ea2ff2b;
        border-radius: 4px;
        margin: 2px;
        padding: 3px 3px 3px 6px;
        white-space: nowrap;
        font-size: var(--font-size);
        display: inline-flex;
        align-items: center;
        line-break: anywhere;
        white-space: break-spaces;

        svg {
          width: 18px;
          height: 18px;
          min-width: 18px;
          min-height: 18px;
          margin-left: 3px;
        }
      }
    }
  }

  .panel {
    min-width: 200px;
    min-height: 150px;
    max-height: 250px;
    background: #f8faff;
    overflow: auto;
    padding: 0.5rem;
    z-index: 999 !important;
    right: 0;
    width: 100%;
    top : 50px;
    position: absolute;
    display: inline-block;
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;

    &__checkbox-list {
      list-style: none;

      .selected {
        background-color: #DBEDFF;
        font-weight: 500 !important;
        color: #0E3F66 !important;
      }

      li {
        text-align: left;
        font-weight: normal;
        font-size: 18px;
        line-height: 18px;
        color: #0e3f6694;
        padding: 1rem;
        display: flex;
        justify-content: left;
        cursor: pointer;
        margin: 0.5rem 0;

        &:hover {
          background: #DBEDFF;
          color: #0E3F66;
        }

        label {
          margin: 0;
        }
      }
    }
  }

  &__item {
    padding: 1rem;
    margin-bottom: 0.5rem;
    cursor: pointer;

    &.selected {
      background: #ff893a;

      &:hover {
        background: #ff893adb;
      }
    }

    &:hover {
      background: #DBEDFF;
      color: #0E3F66;
    }
  }
}